<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calculadora</title>
</head>
<body>
    
    <h2>Calculadora</h2>
    <form action="/calcular" method="post">
        <label for="operacao">Operação:</label>
        <select name="operacao" id="operacao">
            <option value="somar">Somar</option>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <option value="subtrair">Subtrair</option>
            <option value="multiplicar">Multiplicar</option>
            <option value="dividir">Dividir</option>
        </select>
    
        <label for="n1">Número 1:</label>
        <input type="text" name="n1" id="n1">
    
        <label for="n2">Número 2:</label>
        <input type="text" name="n2" id="n2">
    
        <button type="submit">Calcular</button>
    </form>
</body>
</html>